@import url('./reset.css');
@import url('./variables.css');
@import url('./navigation.css');
@import url('./layout.css');
@import url('./footer.css');
@import url('./animations.css');
@import url('./timeline.css');
@import url('./skills.css');
@import url('./pages/lebenslauf.css');
