.timeline {
    position: relative;
    margin: 3rem 0;
    padding-left: 2rem;
    width: 95%;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 2px;
    background: var(--color-accent);
}

.timeline-item {
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
}

.timeline-dot {
    position: absolute;
    left: -2px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: var(--color-accent);
    border-radius: 50%;
    transition: 0.3s;
}

.timeline-content {
    background: var(--card);
    padding: 1rem;
    border-radius: 8px;
    transition: 0.3s;
}

.timeline-item:hover .timeline-content {
    transform: translateY(10px) translateX(10px);
    box-shadow: -10px 10px 20px -10px var(--color-accent);
}

.timeline-item:hover .timeline-dot {
    transform: scale(1.3);
    background: var(--color-accent);
}

.collapsible .collapse-body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease, margin-top 0.3s ease;
}

.collapsible.active .collapse-body {
    max-height: 500px;
    opacity: 1;
    margin-top: 1rem;
}

.collapsible.active .timeline-dot {
    transform: scale(1.3);
    background: var(--color-accent);
}

.collapsible .timeline-content::after {
    content: 'Klicken zum Öffnen';
    display: block;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    opacity: 0.6;
    transition: 0.3s ease;
    width: fit-content;
    padding: 5px;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
}

.collapsible.active .timeline-content::after {
    content: 'Klicken zum Schließen';
    opacity: 1;
}